:root {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
  color: #000;
  font-family: 'Space Grotesk', sans-serif;

}
#printcertificate{
  background-color: rgba(48, 64, 88, 0.984);
}
#styleIt{
  color: rgb(245, 183, 59);
  
}